<!-- Product info -->
<div class="mx-auto max-w-2xl px-4 pb-12 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-12 lg:pt-16">
  <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Entire rental unit hosted by Flipaus</h1>
  </div>

  <!-- Options -->
  <div class="lg:row-span-3 lg:mt-0"
       data-controller="reservation-component"
       data-default-checkin-date="<%= Date.tomorrow.to_formatted_s(:us_short_date) %>"
       data-default-checkout-date="<%= (Date.tomorrow + 1.day).to_formatted_s(:us_short_date) %>"
       data-nightly-price="<%= humanized_money @property.price %>"
       data-service-fee="<%= Property::SERVICE_FEE_PERCENTAGE %>"
       data-cleaning-fee="<%= humanized_money Property::CLEANING_FEE_MONEY %>"
  >
    <div class="lg:mt-0">
      <div class="bg-white">
        <h2 class="text-2xl font-bold text-gray-900"><%= humanized_money_with_symbol @property.price %> night</h2>
        <div class="isolate -space-y-px rounded-md shadow-sm mt-5">
          <div class="relative rounded-md rounded-b-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300 focus-within:z-10 focus-within:ring-2 focus-within:ring-indigo-600">
            <label for="name" class="block text-xs font-medium text-gray-900 uppercase">Check-in</label>
            <input
              data-reservation-component-target="checkin"
              type="text"
              name="name"
              id="name"
              class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
              placeholder="11/11/24">
          </div>
          <div class="relative rounded-md rounded-t-none px-3 pb-1.5 pt-2.5 ring-1 ring-inset ring-gray-300 focus-within:z-10 focus-within:ring-2 focus-within:ring-indigo-600">
            <label for="job-title" class="block text-xs font-medium text-gray-900 uppercase">Checkout</label>
            <input
              data-reservation-component-target="checkout"
              type="text"
              name="job-title"
              id="job-title"
              class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
              placeholder="11/12/24">
          </div>
        </div>
        <div class="divide-y divide-gray-200">
        </div>
        <dl class="space-y-6 py-6">
          <div class="flex items-center justify-between">
            <dt class="text-sm"><%= humanized_money_with_symbol @property.price %> x <span data-reservation-component-target="numOfNights">7</span> nights</dt>
            <dd class="text-sm font-medium text-gray-900">$<span data-reservation-component-target="nightlyTotal">64.00</span></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Cleaning fee</dt>
            <dd class="text-sm font-medium text-gray-900"><%= humanized_money_with_symbol Property::CLEANING_FEE_MONEY %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Service fee</dt>
            <dd class="text-sm font-medium text-gray-900">$<span data-reservation-component-target="serviceFee">5.00</span></dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-6">
            <dt class="text-base font-medium">Total</dt>
            <dd class="text-base font-medium text-gray-900">$<span data-reservation-component-target="total">75.52</span></dd>
          </div>
        </dl>

        <div class="px-4 sm:px-6">
          <button type="submit" class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50">Confirm order</button>
        </div>
      </div>
    </div>
  </div>

  <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
    <!-- Description and details -->
    <div>
      <h3 class="sr-only">Description</h3>

      <div class="space-y-6">
        <p class="text-base text-gray-900"><%= truncate @property.description, length: 500 %></p>
        <% if @property.description.length > 500 %>
          <div class="cursor-pointer text-lg flex font-medium" data-action="click->property#readDescription">
            <p class="underline mr-1">Show more</p>
            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="width: 12px; display: block; fill: var(--f-k-smk-x);"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>